@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);

  --shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);

  --black: hsl(240, 2%, 13%);
  --blue: hsl(193.3,100%,40.8%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  text-decoration: none;
}
body {
  background: var(--blue);
}
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.navlist {
  display: flex;
  width: 300px;
  height: 230px;
}
.navlist a {
  color: white;
  margin-left: 30px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}
.navlist a:hover {
  border-bottom: 2px solid white;
}
#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}

.hero {
  width: 100%;
  height: 100%;
  background: var(--blue);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
section {
  padding: 0 19%;
}
.hero-text h1 {
  font-family: 'VT323', monospace;
  font-weight: 700;
  font-size: 90px;
  line-height: 1;
  color: black;
  margin: 0 0 45px;
}
.hero-img img {
  width: 700px;
  height: auto;
}
.hero-img h3 {
  color: white;
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 40px;
}
.hero-text a {
  display: inline-block;
  color: white;
  border: 1px solid transparent;
  background: var(--bg-gradient-onyx);
  box-shadow: var(--shadow);
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
}
span {
  font-family: 'VT323', monospace;
  text-transform: uppercase;
}
.hero-text a:hover {
  border: 1px solid white;
  transform: translateY(8px);
}
.hero-text a i {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 20px;
}
.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all .50s ease;
}
.icons i:hover {
  color: black;
  transform: translateY(-5px);
}

/**/
.hero-contact {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.hero-contact form {
  width: 70%;
}
.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 25px;
  margin: 20px auto;
}
.form-input {
  color: var(--blue);
  font-size: 14px;
  font-weight: 400;
  padding: 13px 20px;
  border: 1px solid hsl(0, 0%, 22%);
  border-radius: 14px;
  outline: none;
}
.form-input::placeholder {
  font-weight: 500;
}
.form-input:focus {
  border-color: var(--black);
}
textarea.form-input {
  width: 100%;
  height: 120px;
  resize: vertical;
  margin-bottom: 25px;
}
textarea.form-input::-webkit-resizer { display: none; }
form-input:focus:invalid { border-color: hsl(0, 43%, 51%); }

.form-btn {
  position: relative;
  width: 100%;
  border: 1px solid transparent;
  background: var(--bg-gradient-onyx);
  box-shadow: var(--shadow);
  color: hsl(45, 100%, 72%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 20px;
  text-transform: capitalize;
  box-shadow: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
  transition: 0.25s ease;
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: 0.25s ease;
}

.form-btn i {
  color: var(--blue);
}

.form-btn:hover {
  border: 1px solid white;
  transform: translateY(8px);
};

.form-btn:hover::before { background: var(--bg-gradient-jet); }

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-btn:disabled:hover { background: var(--border-gradient-onyx); }

.form-btn:disabled:hover::before { background: var(--bg-gradient-jet); }

@media (max-width: 1535px) {
   header {
    padding: 33px 9%;
    transition: .2s;
  }
  .icons {
    padding: 0 3%;
    transition: .2s;
  }
}
@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: .2s;
  }
}
@media (max-width: 1340px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .hero-text h1 {
    font-size: 50px;
    margin: 0 0 30px;
  }
  .hero-text h5 {
    margin-bottom: 25px;
  }
}
@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: .2s;
  }
  .navlist {
    margin-right: 20px;
  }
  .hero-text {
    padding-top: 115px;
    text-align: center;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: 560px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
}
@media (max-width: 990px) {
  header {
    background: var(--bg-gradient-onyx);
    box-shadow: var(--shadow);
  }
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--bg-gradient-onyx);
    box-shadow: var(--shadow);
    border-radius: 14px 0 0 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    transition: all .55s ease;
  }
  .navlist::before {
    content: "";
    inset: 1px;
    background: var(--bg-gradient-jet);
  }
  .navlist a {
    display: block;
    margin: 7px 0;
    margin-left: 0;
  }
  .navlist.open {
    right: 0;
  }
  span {
    color: var(--blue);
  }
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .hero-contact form {
    width: 85%;
  }
}